*~
_*
.DS_Store
.idea/
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
/mkfs/mkfs
kernel/kernel
dynmod
kernel/modules/dynmod_sample.elf
user/usys.S
.gdbinit
TAGS
